#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

button {
  margin:5px;
}
.event label {
  width: 100%;
}

.event .wrapping_label {
  color:blue;
  display:grid;
  grid-template-columns : repeat(2,50%);
  gap:0px;
}


.events {
  float:center;
  display:grid;
  grid-template-columns : repeat(1,100%);
  gap:20px;
}

.help_paragraph {
  text-align:left;
  white-space:inherit;
}

.event {
  float:center;
  display:grid;
  grid-template-columns: repeat(1,100%);
  margin-bottom:20px;
  width:50%;
  margin-left:25%;
}

.event input {
  width:  100%;
  overflow:hidden;
}

.event .stat {
  display:grid;
  grid-template-columns: repeat(3,120px);
  gap:1px;
  grid-auto-flow:column;
  grid-auto-rows: 20px; 
  grid-auto-columns: 0px 0px;
}

.report_component {
  margin:5px;
}

.send_event_button {
  background-color: green;
}

.send_command_button {
  background-color: rgb(172, 139, 202);
}

.Panel .content {
  min-height: inherit;
  height:inherit;
  color:rebeccapurple;
  background-color:burlywood;
}

.Panel .content .message {
  padding:0px;
  white-space: pre-wrap;
}
.Panel .content .message.event_from_channel{
  text-align: left;
}
.Panel .content .message.summary_from_channel{
  text-align: left;
}

.Panel.panelName {
  color:blue;
}
.Panel {
  float:left;
  width:30%;
  min-height:500px;
  max-height:500px;
  height:100%;
  border:1px;
  border-style:solid;
  word-wrap: break-word;
  background-color:beige;
  overflow:scroll;
  
  
}
.allPanels{
  width:1000px;
}
.allPanels:after{
  content:"";
  display:table;
  clear:both;
}
